.header {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 15px 25px;
  box-shadow: 0 10px 6px -6px #e9e8e8;
}

.logo {
  margin-right: auto;
  height: 45px;
}

.logo,
.face-icon:hover {
  cursor: pointer;
}

.face-icon {
  background-image: url("/images/face.jpg");
  border-radius: 50%;
  height: 55px;
  width: 55px;
  justify-content: flex-end;
}

@media only screen and (max-width: 960px) {
  .logo {
    margin: auto;
  }
}

.switch {
  padding: 10px 35px;
}

.switch input {
  position: absolute;
  height: 0px;
  width: 0px;
}

.switch label {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  padding: 5px 85px;
  transition: all 0.4s ease-in-out;
}

.switch label:hover {
  cursor: pointer;
}

.switch input:checked + label {
  background: #57b055;
  color: #ffff;
}
