.header {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  width: 98%;
  padding: 15px 25px;
  box-shadow: 0 10px 6px -6px #e9e8e8;
}

.logo {
  margin-right: auto;
  height: 45px;
}

.logo,
.face-icon:hover {
  cursor: pointer;
}

.face-icon {
  border-radius: 50%;
  height: 55px;
  width: 55px;
}
