.columns {
  padding-left: 25px;
  padding-right: 25px;
}

.column-container {
  background-color: #f8f8f8;
  justify-content: space-around;
  padding: 2%;
  display: flex;
  box-shadow: 1px 1px 1px 1px #e9e8e8;
}

.column {
  width: 220px;
  margin: 20px;
}
